<mat-spinner *ngIf="mode"></mat-spinner>
<div
  (mousemove)="synchronizeTooltips($event)"
  (touchmove)="synchronizeTooltips($event)"
  (touchstart)="synchronizeTooltips($event)"
>
  <highcharts-chart
    style="width: 100%; display: block; height: 220px;"
    [Highcharts]="Highcharts"
    [options]="chartOptions1"
    *ngIf="chartOptions1"
  >
  </highcharts-chart>
  <highcharts-chart
    style="width: 100%; display: block; height: 220px;"
    [Highcharts]="Highcharts"
    [options]="chartOptions2"
    *ngIf="chartOptions2"
  >
  </highcharts-chart>
  <highcharts-chart
    style="width: 100%; display: block; height: 220px;"
    [Highcharts]="Highcharts"
    [options]="chartOptions4"
    *ngIf="chartOptions4"
  >
  </highcharts-chart>
  <highcharts-chart
    style="width: 100%; display: block; height: 220px;"
    [Highcharts]="Highcharts"
    [options]="chartOptions3"
    *ngIf="chartOptions3"
  >
  </highcharts-chart>
</div>
